.header {
    margin-bottom: 10px;
    background-color: white;
}

body {
    background-image: url("../images/dust_scratches.png");
}

h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-weight: bold;
}

.main h2, .sidebar h3 {
    color: #4aaaa5;
}

h6 {
    color: white;
}

.title{
    background-color: #4aaaa5;
    padding-top: 5px;
    color: white;
}

.main-row {
    display:flex; 
    flex-wrap:wrap;
}

.main, .sidebar{
    background-color: white;
    padding: 10px 15px;
}

.sidebar {
    height:150px;
}

.footer {
    background-color: #777;
    border-top: 8px solid #4aaaa5;
    height: 75px;
    padding:10px;
}